#title {
  text-align: center;
  color: green;
}

#myForm {
  margin-left: 40%;
  margin-top: 10%;
}

.buttons {
  margin-left: 10%;
}

hr {
  color: green;
  margin-left: -45%;
  margin-right: 30%;
}

.notebox {
  border: 20px;
  color: green;
  height: 200px;
  width: 200px;
  background-color: blue;
}
